.slider {
        @media (max-width: 767px) {
            max-width: 480px;
        }
}

.slide {
    width: 100%;
    height: 100%;
    display: none;

    &.active {
        display: block;
    }
}

.line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 39px;
    top: 340px;
    transform: translate(0%, -50%);

    @media (max-width: 767px) {
        display: none;
    }
        @media (min-width: 1280px) {
            right: 55px;
        }
}

.line {
    width: 8px;
    height: 2px;
    background-color: $secondary-text-color;
    cursor: pointer;

    &.active {
        width: 18px;
        background-color: #fff;
    }

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.btn-container {
    position: absolute;
    right: 39px;
    bottom: 40px;

    @media (max-width: 767px) {
        display: none;
    }
        @media (min-width: 1280px) {
            right: 55px;
        }
}

.btn {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
    padding: 8px 0;
    color: rgba(157, 164, 189, 0.6);
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border-image: none;
    border: none;
    border-bottom: 1px solid;
    cursor: pointer;

    &:last-child {
        margin-left: 26px;
        color: white;
    }

    &:hover,
    &:focus {
        color: #FF6C00;
    }
}
